doctype html

html
  head
    title NY Curl, New York Times for your Terminal
    link(rel="icon" type="image/x-icon" href="/public/favicon.ico")
    link(rel="stylesheet" href="/public/css/index.css")

    meta(name="description"
         content="News from the New York Times optimized for display in Terminal")

  body
    if header
      h3(class="header")= header
    if listSections
      ul(class="sections")
        each section in sections
          li
            a(href="/" + section)= section
    if data
      h4(class="help")
        a(href="/help") Click here for a list of sections to query
      table(class="articles")
        tr
          th Section
          th Details
        tr
          each value in data
            tr
              td(class="section")= value.section
              td
                div(class="title")= value.title
                div(class="abstract")= value.abstract
                div(class="url")
                  a(href=value.url)= value.url
    div(class="media")
      div
        a(href="https://twitter.com/omgimanerd" class="twitter-follow-button"
          data-show-count="true" data-show-screen-name="true")
          | Follow @omgimanerd
      div
        a(class="github-button" href="https://github.com/omgimanerd"
          data-count-href="/omgimanerd/followers"
          data-count-api="/users/omgimanerd#followers"
          data-count-aria-label="# followers on GitHub"
          aria-label="Follow @omgimanerd on GitHub")
          | Follow @omgimanerd
      div
        a(class="github-button" href="https://github.com/omgimanerd/nycurl"
          data-icon="octicon-star"
          data-count-href="/omgimanerd/nycurl/stargazers"
          data-count-api="/repos/omgimanerd/nycurl#stargazers_count"
          data-count-aria-label="# stargazers on GitHub"
          aria-label="Star omgimanerd/nycurl on GitHub")
          | Star
  script.
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?"http":"https";if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document, "script", "twitter-wjs");
  script(async defer id="github-bjs"
    src="https://buttons.github.io/buttons.js")
